@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: "Fira Code", "Noto Sans TC", sans-serif;
  font-weight: 400;
}
.font-thin {
  font-weight: 300;
}
.font-bold {
  font-weight: 500;
}
.font-black {
  font-weight: 700;
}
.font-uppercase {
  text-transform: uppercase;
}
.font-uppercase.only-first {
  text-transform: none;
}
.font-uppercase.only-first::first-letter {
  text-transform: uppercase;
}
.font--seo-only {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
p.paragraph, p.description {
  line-height: 1.6;
}
.logo-font, .logo-graph {
  position: relative;
  width: 100%;
  display: flex;
}
.logo-font--horizon {
  height: auto;
}
.logo-graph {
  height: 100%;
}
.logo-image {
  width: 100%;
  height: 100%;
}
.logo-shadowed {
  position: absolute;
  width: 100%;
  z-index: 0;
  opacity: 1;
}
.viewport-entry {
  background-color: #202124;
}
.viewport-entry, .viewport-entry > div {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.footer-container {
  position: relative;
  max-height: 780px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: linear-gradient(to right, #202124, #000000 calc(100% - 48px * 2));
  overflow: hidden;
  padding: 0 calc((100% - 1920px) / 2);
}
@media screen and (max-width: 1920px) {
  .footer-container {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .footer-container {
    display: block;
    flex-direction: column;
  }
}
.footer-bg {
  pointer-events: none;
  right: 0;
  top: auto;
  bottom: 0;
  position: absolute;
  transform-origin: 100% 100%;
  transform: rotate(-90deg) translate(calc(100% + 48px / 2), -100%);
  height: 48px;
  width: 119.04px;
  filter: invert(1) drop-shadow(0 48px 0 #b20632);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .footer-bg {
    right: 0;
    top: 0;
    bottom: auto;
    transform: rotate(-90deg) translateX(calc(50% - 48px + 16px));
    filter: invert(1);
  }
}
@media screen and (max-width: 800px) and (min-width: 768px) {
  .footer-bg {
    transform: rotate(-90deg) translateX(calc(50% - 36px - 8px));
    height: 36px;
    width: 89.28px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-bg {
    width: 100%;
    height: auto;
    max-height: 780px;
    position: relative;
    transform: none;
    filter: none;
    z-index: 0;
  }
  .footer-bg > .logo-image {
    max-height: 780px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .footer-bg > .logo-image {
    box-sizing: border-box;
    padding-right: 6%;
  }
}
.footer-wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .footer-wrapper {
    top: 0;
    position: absolute;
    pointer-events: none;
    justify-content: none;
    align-items: flex-start;
  }
}
.footer-wrapper.declare {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-wrapper.declare {
    width: 320px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-wrapper.declare {
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 240px 256px;
    width: auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1680px) {
  .footer-wrapper.declare {
    padding: 0 0 180px 200px;
    padding-top: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .footer-wrapper.declare {
    padding: 0 0 128px 144px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .footer-wrapper.declare {
    padding: 0 0 108px 128px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .footer-wrapper.declare {
    padding: 0 0 96px 108px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1024px) {
  .footer-wrapper.declare {
    padding: 0 0 84px 96px;
  }
}
.footer-wrapper.contact {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.footer-wrapper.contact > .footer-content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 475px) {
  .footer-wrapper.contact > .footer-content {
    display: grid;
    grid-template-areas: "title linker" "PLACEHOLDER-1 PLACEHOLDER-1" "text-1 text-1" "text-2 text-2" "text-3 text-3";
    grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr 0.25fr repeat(3, 1fr);
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-wrapper.contact > .footer-content {
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .footer-wrapper.contact > .footer-content {
    display: flex;
    margin-right: 6%;
    height: auto;
  }
}
@media screen and (min-width: 1920px) {
  .footer-wrapper.contact > .footer-content {
    margin-right: 7.5%;
  }
}
@media screen and (max-width: 1600px) {
  .footer-wrapper.contact > .footer-content {
    background: linear-gradient(to right, #E30840, #b20632);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  .footer-wrapper.contact > .footer-content {
    -webkit-clip-path: polygon(36px 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(36px 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media screen and (max-width: 1600px) and (min-width: 1024px) {
  .footer-wrapper.contact > .footer-content {
    margin: 0;
    padding: 24px;
    padding-right: 80px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .footer-wrapper.contact > .footer-content {
    padding-right: 48px;
  }
}
.footer-wrapper.contact > .footer-content > h3 {
  font-size: 20px;
  grid-area: title;
  display: flex;
  align-items: center;
}
.footer-wrapper.contact .linker {
  color: inherit;
  font-size: 16px;
  position: relative;
}
.footer-wrapper.contact .linker-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  width: 150px;
  right: 72px;
  top: 24px;
  margin: 0;
  grid-area: linker;
}
@media screen and (min-width: 1024px) {
  .footer-wrapper.contact .linker-box {
    width: 200px;
    position: relative;
    width: 100%;
    margin: 18px 0;
    top: auto;
    right: auto;
  }
}
@media screen and (max-width: 475px) {
  .footer-wrapper.contact .linker-box {
    margin: 16px 0;
  }
}
.footer-wrapper.contact .linker:before {
  content: "";
  left: -8px;
  top: -8px;
  position: absolute;
  width: calc(100% + 8px * 2);
  height: calc(100% + 8px * 2);
}
.footer-wrapper.contact .linker > .icon {
  height: 16px;
  width: 16px;
}
.footer-wrapper.contact .linker:hover {
  color: #E30840;
}
@media screen and (max-width: 1600px) {
  .footer-wrapper.contact .linker:hover {
    color: #202124;
  }
}
.footer-content {
  color: #FFFFFF;
  pointer-events: all;
  width: 100%;
  height: 100%;
  padding: 20px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 375px) {
  .footer-content {
    padding: 20px 32px;
  }
}
@media screen and (max-width: 360px) {
  .footer-content {
    padding: 20px 18px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-content {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
  }
}
.footer-content > .logo-font {
  width: 240px;
  height: auto;
}
@media screen and (max-width: 1440px) {
  .footer-content > .logo-font {
    width: 200px;
  }
}
.footer-content > h2.subtitle {
  margin-top: 12px;
  font-size: 24px;
}
@media screen and (max-width: 1440px) {
  .footer-content > h2.subtitle {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-content > h2.subtitle {
    margin-top: 18px;
  }
}
.footer-content > p.paragraph {
  font-size: 12px;
  color: #86888A;
}
@media screen and (min-width: 1024px) {
  .footer-content > p.paragraph {
    margin: 12px 0;
  }
}
.footer-content > p.paragraph:nth-of-type(1) {
  grid-area: text-1;
}
.footer-content > p.paragraph:nth-of-type(2) {
  grid-area: text-2;
}
.footer-content > p.paragraph:nth-of-type(3) {
  grid-area: text-3;
}
.footer-content > p.paragraph:nth-of-type(4) {
  grid-area: text-4;
}
.footer-content > p.paragraph:nth-of-type(5) {
  grid-area: text-5;
}
.footer-content > p.paragraph:nth-of-type(6) {
  grid-area: text-6;
}
.footer-content > p.paragraph:nth-of-type(7) {
  grid-area: text-7;
}
.footer-content > p.paragraph:nth-of-type(8) {
  grid-area: text-8;
}
.footer-content > p.paragraph:nth-of-type(9) {
  grid-area: text-9;
}
@media screen and (max-width: 1600px) {
  .footer-content > p.paragraph {
    color: rgba(255, 255, 255, 0.75);
  }
}
.footer-content > p.paragraph a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .footer-content > p.paragraph {
    font-size: 10px;
    margin: 4px 0;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .footer-content > p.paragraph {
    margin: 8px 0;
  }
}
.footer-content > p.paragraph.highlight, .footer-content > p.paragraph > .highlight {
  font-size: 15.6px;
  color: #E30840;
}
@media screen and (max-width: 1440px) {
  .footer-content > p.paragraph.highlight, .footer-content > p.paragraph > .highlight {
    font-size: 14px;
  }
}
.footer-content > p.paragraph.link {
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .footer-content > p.paragraph.link {
    margin: 8px 0;
  }
}
.footer-content > p.paragraph.link:hover {
  color: #E30840;
}
@media screen and (max-width: 1600px) {
  .footer-content > p.paragraph.link:hover {
    color: rgba(0, 0, 0, 0.75);
  }
}
.footer-content > p.paragraph.link .icon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
@media screen and (max-width: 475px) and (min-width: 360px) {
  .footer-content > p.paragraph.link a.addr {
    white-space: nowrap;
  }
}
.footer-content > p.paragraph.link a.addr span:last-child {
  margin-left: 24px;
}
@media screen and (max-width: 1024px) and (min-width: 360px) {
  .footer-content > p.paragraph.link a.addr span:last-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 360px) {
  .footer-content > p.paragraph.link a.addr br {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .footer-content > p.paragraph.link a.addr br {
    display: initial;
  }
}
.footer-content > p.paragraph:last-child {
  margin-bottom: 0;
}
.column {
  height: inherit;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.column-container {
  display: grid;
  height: inherit;
  width: 100%;
  position: relative;
  grid-template-rows: 100%;
}
.column--single {
  grid-template-columns: 1fr;
}
.column--dual {
  grid-template-columns: 1fr 1fr;
}
.column--triple {
  grid-template-columns: 1fr 1fr 1fr;
}
.column .decorator {
  position: relative;
  text-indent: 24px;
  color: #bfbfbf !important;
}
.column .decorator:before, .column .decorator:after {
  content: "";
  position: absolute;
  left: -4px;
  top: 0;
  background-color: #bfbfbf;
  height: 100%;
  width: 8px;
  transform: skewX(-15deg);
  box-sizing: border-box;
  box-shadow: 0 0 2px #35363a;
}
.column .decorator:after {
  left: 8px;
  width: 3px;
  background-color: #86888A;
}
.column > *,
.column > * > svg {
  height: 100%;
  width: 100%;
  position: relative;
}
.banner-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-bg--home {
  opacity: 0.5;
  transform-origin: center center;
  transform: translate(-280px, 150px) scale(1.1, 1.3) skew(15deg);
}
.banner-bg--home > img {
  width: auto;
  height: 100%;
}
.banner-bg--overlap {
  z-index: 1;
}
.main-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #FFFFFF;
  background: linear-gradient(to right, #202124, #000000);
}
@media screen and (max-width: 475px) {
  .main-banner {
    height: auto;
  }
}
.main-banner > .column-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .main-banner > .column-container {
    display: grid;
    width: calc(100% - 320px * 2);
    height: 480px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1680px) {
  .main-banner > .column-container {
    width: calc(100% - 240px * 2);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .main-banner > .column-container {
    width: calc(100% - 120px * 2);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .main-banner > .column-container {
    width: calc(100% - 64px * 2);
  }
}
.main-banner > .column .col-1 > div,
.main-banner > .column .col-2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-banner > .column .col-1 {
  box-sizing: border-box;
  padding: 32px 64px;
}
@media screen and (max-width: 475px) {
  .main-banner > .column .col-1 {
    padding: 24px 48px;
  }
}
@media screen and (max-width: 414px) {
  .main-banner > .column .col-1 {
    padding: 24px 18px;
  }
}
@media screen and (max-width: 360px) {
  .main-banner > .column .col-1 {
    padding: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .main-banner > .column .col-1 {
    padding: 0;
    padding-right: 72px;
  }
}
.main-banner > .column .col-2 > div {
  align-items: center;
}
.main-banner > .column .col-2 .logo-graph {
  height: 480px;
  width: 480px;
  pointer-events: none;
}
@media screen and (max-width: 600px) {
  .main-banner > .column .col-2 .logo-graph {
    height: auto;
    width: 400px;
  }
}
@media screen and (max-width: 475px) {
  .main-banner > .column .col-2 .logo-graph {
    width: 320px;
  }
}
@media screen and (max-width: 414px) {
  .main-banner > .column .col-2 .logo-graph {
    width: 280px;
  }
}
@media screen and (max-width: 360px) {
  .main-banner > .column .col-2 .logo-graph {
    width: 240px;
  }
}
@media screen and (min-width: 1024px) {
  .main-banner > .column .col-2 .logo-graph {
    height: 640px;
    width: 640px;
  }
}
.main-banner > .column .col-2 .logo-graph--main-complex .logo-image {
  transform: none;
  margin-top: 32px;
}
@media screen and (max-width: 475px) {
  .main-banner > .column .col-2 .logo-graph--main-complex .logo-image {
    margin: 64px 0 32px 0;
  }
}
@media screen and (max-width: 414px) {
  .main-banner > .column .col-2 .logo-graph--main-complex .logo-image {
    margin: 32px 0;
  }
}
@media screen and (min-width: 1024px) {
  .main-banner > .column .col-2 .logo-graph--main-complex .logo-image {
    opacity: 1;
    margin-top: -18px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .main-banner > .column .col-2 .logo-graph--main-complex .logo-image {
    transform: scale(0.8);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .main-banner > .column .col-2 .logo-graph--main-complex .logo-image {
    transform: scale(0.75);
  }
}
.main-banner .logo-graph ::selection,
.main-banner .logo-font ::selection {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}
.main-banner .logo-graph > .logo-shadowed,
.main-banner .logo-font > .logo-shadowed {
  opacity: 0.25;
}
.main-banner .logo-graph > .logo-shadowed.mask--light,
.main-banner .logo-font > .logo-shadowed.mask--light {
  margin: -4px 0 0 -4px;
  filter: blur(5px);
}
.main-banner .logo-graph > .logo-shadowed.mask--dark,
.main-banner .logo-font > .logo-shadowed.mask--dark {
  margin: 4px 0 0 4px;
  filter: blur(5px) invert(1);
}
.main-banner .banner-header {
  position: relative;
  margin: 12px 0;
  margin-top: -12px;
}
.main-banner .banner-header > h1.title {
  transform-origin: left center;
  letter-spacing: 4px;
  font-size: 64px;
  text-shadow: 3px 3px 6px #050505, -3px -3px 6px #4d4f55;
}
@media screen and (min-width: 1024px) {
  .main-banner .banner-header > h1.title {
    transform: scaleX(0.95);
  }
}
@media screen and (max-width: 768px) {
  .main-banner .banner-header > h1.title {
    text-align: center;
  }
}
@media screen and (max-width: 475px) {
  .main-banner .banner-header > h1.title {
    font-size: 56px;
  }
}
@media screen and (max-width: 414px) {
  .main-banner .banner-header > h1.title {
    font-size: 48px;
  }
}
.main-banner .banner-header > h1.title ruby {
  ruby-align: center;
  -webkit-ruby-align: center;
  ruby-position: over;
  -webkit-ruby-position: over;
}
.main-banner .banner-header > h1.title ruby rt {
  transform: scale(0.75);
  opacity: 0;
  font-size: 14px;
}
.main-banner .banner-header > h1.title ruby rtc {
  color: #99052b;
  transition: scale(1, 1.2);
  font-size: 16px;
}
.main-banner .banner-header > h1.title:hover ruby rt {
  opacity: 0.7;
}
.main-banner .banner-header > h2.subtitle {
  font-size: 16px;
  color: #f71851;
  text-shadow: 1px 1px 2px #18191a, -1px -1px 2px #3a3b40;
  word-spacing: 14px;
  margin: 8px;
}
@media screen and (max-width: 768px) {
  .main-banner .banner-header > h2.subtitle {
    text-align: center;
    word-spacing: auto;
  }
}
@media screen and (max-width: 414px) {
  .main-banner .banner-header > h2.subtitle {
    font-size: 15.6px;
  }
}
@supports (-moz-appearance: none) {
  .main-banner .banner-header > h2.subtitle {
    margin: 0 8px;
  }
}
.main-banner .banner-header > p.paragraph {
  margin: 12px 0;
  margin-top: 36px;
  font-size: 16px;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .main-banner .banner-header > p.paragraph {
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .main-banner .banner-header > p.paragraph {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .main-banner .banner-header > p.paragraph {
    margin-top: 32px;
  }
}
@media screen and (max-width: 360px) {
  .main-banner .banner-header > p.paragraph {
    margin-top: 24px;
  }
}
[lkc-spotlight]:nth-of-type(odd) > .spotlight-container {
  background-color: #CACACE;
}
[lkc-spotlight]:nth-of-type(even) > .spotlight-container {
  background-color: #FFFFFF;
}
.spotlight-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  box-sizing: border-box;
  padding: 32px 0;
  grid-template-rows: 64px 0.5 0.5fr 64px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .spotlight-container {
    display: grid;
  }
}
@media screen and (max-width: 1200px) {
  .spotlight-container {
    padding: 32px;
  }
}
@media screen and (max-width: 475px) {
  .spotlight-container {
    padding: 24px;
  }
}
@media screen and (max-width: 414px) {
  .spotlight-container {
    padding: 16px;
  }
}
.spotlight-container--left {
  grid-template-columns: 320px 320px auto 320px;
  grid-template-areas: "image image PLACEHOLDER-1 PLACEHOLDER-R" "image image title         PLACEHOLDER-R" "image image content       PLACEHOLDER-R" "image image PLACEHOLDER-2 PLACEHOLDER-R";
}
@media screen and (max-width: 800px) {
  .spotlight-container--left {
    grid-template-areas: "PLACEHOLDER-L PLACEHOLDER-1 PLACEHOLDER-1 PLACEHOLDER-R" "PLACEHOLDER-L title         title title" "PLACEHOLDER-L content       image image" "PLACEHOLDER-L PLACEHOLDER-2 image image";
  }
}
.spotlight-container--left .spotlight-image {
  justify-content: flex-end;
}
@media screen and (max-width: 1680px) {
  .spotlight-container--left {
    grid-template-columns: 240px 1fr 2fr 240px;
  }
}
@media screen and (max-width: 1440px) {
  .spotlight-container--left {
    grid-template-columns: 120px 1fr 2fr 120px;
  }
}
@media screen and (max-width: 1280px) {
  .spotlight-container--left {
    grid-template-columns: 64px 1fr 2fr 64px;
  }
}
@media screen and (max-width: 1200px) {
  .spotlight-container--left {
    grid-template-columns: 32px 1.5fr 2fr 32px;
  }
}
.spotlight-container--right {
  grid-template-columns: 320px auto 320px 320px;
  grid-template-areas: "PLACEHOLDER-L PLACEHOLDER-1 image image" "PLACEHOLDER-L title         image image" "PLACEHOLDER-L content       image image" "PLACEHOLDER-L PLACEHOLDER-2 image image";
}
@media screen and (max-width: 800px) {
  .spotlight-container--right {
    grid-template-areas: "PLACEHOLDER-L PLACEHOLDER-1 PLACEHOLDER-1 PLACEHOLDER-R" "PLACEHOLDER-L title         title title" "PLACEHOLDER-L content       image image" "PLACEHOLDER-L PLACEHOLDER-2 image image";
  }
}
.spotlight-container--right .spotlight-image {
  justify-content: flex-start;
}
@media screen and (max-width: 1680px) {
  .spotlight-container--right {
    grid-template-columns: 240px 2fr 1fr 240px;
  }
}
@media screen and (max-width: 1440px) {
  .spotlight-container--right {
    grid-template-columns: 120px 2fr 1fr 120px;
  }
}
@media screen and (max-width: 1280px) {
  .spotlight-container--right {
    grid-template-columns: 64px 2fr 1fr 64px;
  }
}
@media screen and (max-width: 1200px) {
  .spotlight-container--right {
    grid-template-columns: 32px 2fr 1.5fr 32px;
  }
}
.spotlight-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotlight-image > img {
  width: 100%;
  height: 100%;
}
.spotlight-title {
  grid-area: title;
}
.spotlight-title > h1.title {
  font-size: 42px;
  margin-bottom: 8px;
  line-height: 1.2;
}
@media screen and (max-width: 475px) {
  .spotlight-title > h1.title {
    font-size: 36px;
  }
}
@media screen and (max-width: 414px) {
  .spotlight-title > h1.title {
    font-size: 34px;
  }
}
@media screen and (max-width: 375px) {
  .spotlight-title > h1.title {
    font-size: 32px;
  }
}
@media screen and (max-width: 360px) {
  .spotlight-title > h1.title {
    font-size: 28px;
  }
}
.spotlight-title > h2.subtitle {
  font-size: 24px;
  line-height: 1.4;
}
@media screen and (max-width: 414px) {
  .spotlight-title > h2.subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .spotlight-title > h2.subtitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 360px) {
  .spotlight-title > h2.subtitle {
    font-size: 16px;
  }
}
.spotlight-content {
  grid-area: content;
}
.spotlight-content > p.paragraph {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: justify;
  text-justify: inter-ideograph;
}
@media screen and (max-width: 768px) {
  .spotlight-content > p.paragraph br {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .spotlight-content > p.paragraph {
    text-align: left;
  }
}
@media screen and (max-width: 475px) {
  .spotlight-content > p.paragraph {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .spotlight-content > p.paragraph {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map*/