@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;900&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: "Fira Code", "Noto Sans TC", sans-serif;
  font-weight: 400;
}
.font-thin {
  font-weight: 300;
}
.font-bold {
  font-weight: 500;
}
.font-black {
  font-weight: 700;
}
.font-uppercase {
  text-transform: uppercase;
}
.font-uppercase.only-first {
  text-transform: none;
}
.font-uppercase.only-first::first-letter {
  text-transform: uppercase;
}
.font--seo-only {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
p.paragraph, p.description {
  line-height: 1.6;
}
.logo-font, .logo-graph {
  position: relative;
  width: 100%;
  display: flex;
}
.logo-font--horizon {
  height: auto;
}
.logo-graph {
  height: 100%;
}
.logo-image {
  width: 100%;
  height: 100%;
}
.logo-shadowed {
  position: absolute;
  width: 100%;
  z-index: 0;
  opacity: 1;
}
.viewport-entry {
  background-color: #202124;
}
.viewport-entry, .viewport-entry > div {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.footer-container {
  position: relative;
  background-color: #202124;
}
.footer-bg {
  width: 100%;
  pointer-events: none;
}
.footer-wrapper {
  top: 0;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.footer-wrapper.declare {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 240px 256px;
}
@media screen and (max-width: 1680px) {
  .footer-wrapper.declare {
    padding: 0 0 180px 200px;
    padding-top: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 1440px) {
  .footer-wrapper.declare {
    padding: 0 0 128px 144px;
  }
}
@media screen and (max-width: 1280px) {
  .footer-wrapper.declare {
    padding: 0 0 108px 128px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-wrapper.declare {
    padding: 0 0 96px 108px;
  }
}
.footer-wrapper.contact {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.footer-wrapper.contact > .footer-content {
  margin-right: 6%;
}
.footer-wrapper.contact > .footer-content > h3 {
  font-size: 20px;
}
.footer-wrapper.contact .linker {
  color: inherit;
  font-size: 16px;
  position: relative;
}
.footer-wrapper.contact .linker-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #FFFFFF;
  margin: 18px 0;
}
.footer-wrapper.contact .linker:before {
  content: "";
  left: -8px;
  top: -8px;
  position: absolute;
  width: calc(100% + 8px * 2);
  height: calc(100% + 8px * 2);
}
.footer-wrapper.contact .linker > .icon {
  height: 16px;
  width: 16px;
}
.footer-wrapper.contact .linker:hover {
  color: #E30840;
}
.footer-content {
  color: #FFFFFF;
  pointer-events: all;
}
.footer-content > .logo-font {
  width: 240px;
  height: auto;
}
@media screen and (max-width: 1440px) {
  .footer-content > .logo-font {
    width: 200px;
  }
}
.footer-content > h2.subtitle {
  margin-top: 18px;
  font-size: 24px;
}
@media screen and (max-width: 1440px) {
  .footer-content > h2.subtitle {
    font-size: 20px;
  }
}
.footer-content > p.paragraph {
  font-size: 12px;
  color: #86888A;
  margin: 12px 0;
}
.footer-content > p.paragraph a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .footer-content > p.paragraph {
    margin: 8px 0;
    font-size: 10px;
  }
}
.footer-content > p.paragraph.highlight, .footer-content > p.paragraph > .highlight {
  font-size: 15.6px;
  color: #E30840;
}
@media screen and (max-width: 1440px) {
  .footer-content > p.paragraph.highlight, .footer-content > p.paragraph > .highlight {
    font-size: 14px;
  }
}
.footer-content > p.paragraph.link {
  margin: 8px 0;
  font-size: 12px;
}
.footer-content > p.paragraph.link:hover {
  color: #E30840;
}
.footer-content > p.paragraph.link .icon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
.footer-content > p.paragraph.link a.addr span:last-child {
  margin-left: 24px;
}
.footer-content > p.paragraph:last-child {
  margin-bottom: 0;
}
.column {
  height: inherit;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.column-container {
  display: grid;
  height: inherit;
  width: 100%;
  position: relative;
  grid-template-rows: 100%;
}
.column--single {
  grid-template-columns: 1fr;
}
.column--dual {
  grid-template-columns: 1fr 1fr;
}
.column--triple {
  grid-template-columns: 1fr 1fr 1fr;
}
.column .decorator {
  position: relative;
  text-indent: 24px;
  color: #bfbfbf !important;
}
.column .decorator:before, .column .decorator:after {
  content: "";
  position: absolute;
  left: -4px;
  top: 0;
  background-color: #bfbfbf;
  height: 100%;
  width: 8px;
  transform: skewX(-15deg);
  box-sizing: border-box;
  box-shadow: 0 0 2px #35363a;
}
.column .decorator:after {
  left: 8px;
  width: 3px;
  background-color: #86888A;
}
.column > *,
.column > * > svg {
  height: 100%;
  width: 100%;
  position: relative;
}
.banner-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-bg--home {
  opacity: 0.5;
  transform-origin: center center;
  transform: translate(-280px, 150px) scale(1.1, 1.3) skew(15deg);
}
.main-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #FFFFFF;
}
.main-banner > .column-container {
  width: calc(100% - 320px * 2);
  height: 480px;
}
@media screen and (max-width: 1680px) {
  .main-banner > .column-container {
    width: calc(100% - 240px * 2);
  }
}
@media screen and (max-width: 1440px) {
  .main-banner > .column-container {
    width: calc(100% - 120px * 2);
  }
}
@media screen and (max-width: 1280px) {
  .main-banner > .column-container {
    width: calc(100% - 64px * 2);
  }
}
.main-banner > .column .col-1 > div,
.main-banner > .column .col-2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-banner > .column .col-1 {
  box-sizing: border-box;
  padding-right: 72px;
}
.main-banner > .column .col-2 > div {
  align-items: center;
}
.main-banner > .column .col-2 .logo-graph {
  height: 640px;
  width: 640px;
}
.main-banner > .column .col-2 .logo-graph--main-complex .logo-image {
  opacity: 1;
  margin-top: -18px;
}
@media screen and (max-width: 1440px) {
  .main-banner > .column .col-2 .logo-graph--main-complex .logo-image {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1280px) {
  .main-banner > .column .col-2 .logo-graph--main-complex .logo-image {
    transform: scale(0.75);
  }
}
.main-banner .logo-graph ::selection,
.main-banner .logo-font ::selection {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}
.main-banner .logo-graph > .logo-shadowed,
.main-banner .logo-font > .logo-shadowed {
  opacity: 0.25;
}
.main-banner .logo-graph > .logo-shadowed.mask--light,
.main-banner .logo-font > .logo-shadowed.mask--light {
  margin: -4px 0 0 -4px;
  filter: blur(5px);
}
.main-banner .logo-graph > .logo-shadowed.mask--dark,
.main-banner .logo-font > .logo-shadowed.mask--dark {
  margin: 4px 0 0 4px;
  filter: blur(5px) invert(1);
}
.main-banner .banner-header {
  position: relative;
  margin: 12px 0;
  margin-top: -12px;
}
.main-banner .banner-header > h1.title {
  transform-origin: left center;
  transform: scaleX(0.95);
  letter-spacing: 4px;
  font-size: 64px;
  text-shadow: 3px 3px 6px #050505, -3px -3px 6px #4d4f55;
}
.main-banner .banner-header > h1.title ruby {
  ruby-align: center;
  -webkit-ruby-align: center;
  ruby-position: over;
  -webkit-ruby-position: over;
}
.main-banner .banner-header > h1.title ruby rt {
  transform: scale(0.75);
  opacity: 0;
  font-size: 14px;
}
.main-banner .banner-header > h1.title ruby rtc {
  color: #99052b;
  transition: scale(1, 1.2);
  font-size: 16px;
}
.main-banner .banner-header > h1.title:hover ruby rt {
  opacity: 0.7;
}
.main-banner .banner-header > h2.subtitle {
  font-size: 16px;
  color: #f71851;
  text-shadow: 1px 1px 2px #18191a, -1px -1px 2px #3a3b40;
  word-spacing: 14px;
  margin: 8px;
}
@supports (-moz-appearance: none) {
  .main-banner .banner-header > h2.subtitle {
    margin: 0 8px;
  }
}
.main-banner .banner-header > p.paragraph {
  margin: 12px 0;
  margin-top: 36px;
  font-size: 16px;
  line-height: 2;
}
[lkc-spotlight]:nth-of-type(odd) > .spotlight-container {
  background-color: #CACACE;
}
[lkc-spotlight]:nth-of-type(even) > .spotlight-container {
  background-color: #FFFFFF;
}
.spotlight-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 32px;
  box-sizing: border-box;
  padding: 32px 0;
  grid-template-rows: 64px 0.5 0.5fr 64px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .spotlight-container {
    padding: 32px;
  }
}
.spotlight-container--left {
  grid-template-columns: 320px 320px auto 320px;
  grid-template-areas: "image image PLACEHOLDER-1 PLACEHOLDER-R" "image image title         PLACEHOLDER-R" "image image content       PLACEHOLDER-R" "image image PLACEHOLDER-2 PLACEHOLDER-R";
}
.spotlight-container--left .spotlight-image {
  justify-content: flex-end;
}
@media screen and (max-width: 1680px) {
  .spotlight-container--left {
    grid-template-columns: 240px 1fr 2fr 240px;
  }
}
@media screen and (max-width: 1440px) {
  .spotlight-container--left {
    grid-template-columns: 120px 1fr 2fr 120px;
  }
}
@media screen and (max-width: 1280px) {
  .spotlight-container--left {
    grid-template-columns: 64px 1fr 2fr 64px;
  }
}
@media screen and (max-width: 1200px) {
  .spotlight-container--left {
    grid-template-columns: 32px 1.5fr 2fr 32px;
  }
}
.spotlight-container--right {
  grid-template-columns: 320px auto 320px 320px;
  grid-template-areas: "PLACEHOLDER-L PLACEHOLDER-1 image image" "PLACEHOLDER-L title         image image" "PLACEHOLDER-L content       image image" "PLACEHOLDER-L PLACEHOLDER-2 image image";
}
.spotlight-container--right .spotlight-image {
  justify-content: flex-start;
}
@media screen and (max-width: 1680px) {
  .spotlight-container--right {
    grid-template-columns: 240px 2fr 1fr 240px;
  }
}
@media screen and (max-width: 1440px) {
  .spotlight-container--right {
    grid-template-columns: 120px 2fr 1fr 120px;
  }
}
@media screen and (max-width: 1280px) {
  .spotlight-container--right {
    grid-template-columns: 64px 2fr 1fr 64px;
  }
}
@media screen and (max-width: 1200px) {
  .spotlight-container--right {
    grid-template-columns: 32px 2fr 1.5fr 32px;
  }
}
.spotlight-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotlight-image > img {
  width: 100%;
  height: 100%;
}
.spotlight-title {
  grid-area: title;
}
.spotlight-title > h1.title {
  font-size: 42px;
  margin-bottom: 8px;
  line-height: 1.2;
}
.spotlight-content {
  grid-area: content;
}
.spotlight-content > p.paragraph {
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: justify;
  text-justify: inter-ideograph;
}

/*# sourceMappingURL=styles.css.map*/