<div lkc-banner>
  <div class="banner banner-container full-size banner--lkc-agh" lkc-banner-content>
    <!-- <img class="main-logo" src="assets/images/ArgusHack2.svg" height="360" width="360" alt=""> -->
    <!-- <img class="logo" src="assets/images/AGH-Logo-Font-black.svg" height="64" width="300" alt="ArgusHack"> -->
    <svg width="100%" height="100%" viewBox="0 0 1440 1200" (mousemove)="mousemoveHandler($event)">
      <defs>
        <clipPath id="text-1">
          <path class="bfe4dfd2-470a-48d2-ae05-0dfd41b79c9b" d="M420,622.54,469.4,530h22.48l14.25,92.54H486l-3.51-21H453.9l-11.42,21Zm40-38.09h21.86l-4.77-32.16Z"/>
          <path class="bfe4dfd2-470a-48d2-ae05-0dfd41b79c9b" d="M514.17,622.54l13-68.13h16.12l-.48,7a65.33,65.33,0,0,1,11.32-5.25A63.61,63.61,0,0,1,566.7,553L564,567.65a72.49,72.49,0,0,0-8,1.73c-2.89.77-5.68,1.64-8.42,2.6a44.23,44.23,0,0,0-6.94,3l-9,47.52Z"/>
          <path class="bfe4dfd2-470a-48d2-ae05-0dfd41b79c9b" d="M660,623.55a26.29,26.29,0,0,1-12.56-2.75,18.68,18.68,0,0,1-7.8-7.55A21.19,21.19,0,0,1,637,602.46a29.08,29.08,0,0,1,.53-5.44L645,557.78h17l-7.22,37.8a24,24,0,0,0-.53,4.91c0,2.45.68,4.23,2.07,5.34s3.66,1.59,6.79,1.59c3.85,0,6.74-.92,8.67-2.7s3.27-4.86,4.09-9.14l7.22-37.8h17l-7.61,39.82c-1.68,9.1-5.2,15.74-10.5,19.79S669.3,623.55,660,623.55Z"/>
          <path class="bfe4dfd2-470a-48d2-ae05-0dfd41b79c9b" d="M580.33,647.81c-1.4,0-3.13-.09-5.25-.19s-4.19-.34-6.21-.58c-1.64-.19-3.23-.43-4.86-.77l2.84-14.78a34.28,34.28,0,0,0,6.59,1.35,65.82,65.82,0,0,0,6.84.53c6.31,0,11.51-.91,15.65-2.74a12.38,12.38,0,0,0,7.51-9.63l.62-3.61a32.79,32.79,0,0,1-18.48,5.2,28.61,28.61,0,0,1-14-3.23A18.44,18.44,0,0,1,563.09,609c-1.73-4.77-1.88-11-.53-18.78,2.26-12.28,6.45-21.52,12.66-27.78s14.06-9.44,23.55-9.39q6.5,0,10.4,2a23.79,23.79,0,0,1,7.17,5.73l2.22-6.3h15l-12,63.36a40.54,40.54,0,0,1-6.4,15.45A31.27,31.27,0,0,1,601.9,644C596.26,646.51,589,647.81,580.33,647.81Zm11.79-39.52a22.84,22.84,0,0,0,8-1.35,26.25,26.25,0,0,0,6.74-3.81l5.73-29.75a15.29,15.29,0,0,0-5.25-4.67,14.88,14.88,0,0,0-7-1.49c-5.59,0-9.92,2-13,6s-5.35,9.58-6.79,16.9c-1.4,6.88-1.2,11.65.53,14.3S586.44,608.33,592.12,608.29Z"/>
          <path class="bfe4dfd2-470a-48d2-ae05-0dfd41b79c9b" d="M720.19,622.59A55,55,0,0,1,709,621.53a28.58,28.58,0,0,1-8.52-3l3.08-15.93a38.9,38.9,0,0,0,8.62,3.51,35.11,35.11,0,0,0,9.24,1.35,22.78,22.78,0,0,0,7.13-.87,4.76,4.76,0,0,0,3.13-3.95,6.78,6.78,0,0,0,.1-1c0-1.73-1-3-2.89-3.8s-4.77-2-8.52-3.37a25.27,25.27,0,0,1-9.54-6,12.87,12.87,0,0,1-3.22-9.19c0-.77,0-1.55.09-2.32a14.8,14.8,0,0,1,.39-2.5c1.2-6.6,4.14-11.55,8.71-14.92s11.22-5.11,19.93-5.11a56.85,56.85,0,0,1,9.92.92,44.56,44.56,0,0,1,8,2.07l-3,16a33.51,33.51,0,0,0-7.75-2.79,34.08,34.08,0,0,0-7.32-.82,29.16,29.16,0,0,0-7.08.72,4.55,4.55,0,0,0-3.65,3.71,2.83,2.83,0,0,0-.1.91c0,1.3.77,2.31,2.31,3s4.09,1.64,7.66,2.89c5.34,1.78,9.1,3.94,11.17,6.59a14.07,14.07,0,0,1,3.13,9.25,17.88,17.88,0,0,1-.2,2.79c-.14,1-.29,2-.48,3A27.11,27.11,0,0,1,745,613.1a20.63,20.63,0,0,1-9.2,7C731.84,621.82,726.64,622.59,720.19,622.59Z"/>
          <path class="bfe4dfd2-470a-48d2-ae05-0dfd41b79c9b" d="M754.62,622.54l17.57-92.44H793l-7,36.59H818.6l7-36.59h20.8l-17.57,92.44H808L815,586H782.4l-7,36.59Z"/>
          <path class="bfe4dfd2-470a-48d2-ae05-0dfd41b79c9b" d="M836,622.54,869,560.91h17.1l9.53,61.63H878.74l-2-13.1H859.91l-7,13.1Zm28.46-26h12.42l-2.75-18.1Z"/>
          <path class="bfe4dfd2-470a-48d2-ae05-0dfd41b79c9b" d="M925.83,622.54A28.12,28.12,0,0,1,911.29,619a18.66,18.66,0,0,1-8.43-10.35c-1.59-4.57-1.78-10.21-.48-16.95,1.92-10.4,6-18.15,12-23.2s14-7.61,23.69-7.61a44.53,44.53,0,0,1,9.49.87,25.2,25.2,0,0,1,7.36,2.89l-2.36,12.08a20.63,20.63,0,0,0-6-2.36,31.22,31.22,0,0,0-7.8-.87c-5.68,0-10.31,1.3-13.82,4s-5.92,7.37-7.17,14.25c-1.21,6.31-.87,10.93,1,13.87s6.16,4.38,13,4.38a35.57,35.57,0,0,0,7.85-.87,33.22,33.22,0,0,0,7.51-2.6L944.75,619A48.2,48.2,0,0,1,925.83,622.54Z"/>
          <path class="bfe4dfd2-470a-48d2-ae05-0dfd41b79c9b" d="M955,622.54,970.51,539H987l-7.27,40,20.32-18.1H1020l-22.82,21.38,18.49,40.25H997.18l-12.95-30-8.52,7.61-4.29,22.44Z"/>
        </clipPath>
      </defs>
      <g class="background">
        <circle cx="720" cy="600" r="280" fill="transparent" stroke="#DADDDF" stroke-width="3" class="ring">
        </circle>
        <circle cx="720" cy="600" r="388" fill="transparent" stroke="#FE004D" stroke-width="3" class="ring">
        </circle>
        <circle cx="720" cy="600" r="548" fill="transparent" stroke="#A6A8AA" stroke-width="3" class="ring">
        </circle>
        <circle cx="720" cy="600" r="768" fill="transparent" stroke="#FE004D" stroke-width="3" class="ring">
        </circle>
        <circle cx="720" cy="600" r="1056" fill="transparent" stroke="#86888A" stroke-width="3" class="ring">
        </circle>
      </g>
      <g class="logo-showcase" clip-path="url(#text-1)">
        <rect x="420" y="530" width="600" height="118" fill="#000000"></rect>
        <svg:circle [attr.cx]="spotlightPosition.x" [attr.cy]="spotlightPosition.y" r="128" fill="#FE004D"></svg:circle>
      </g>
      <!-- <g id="hover-zone">
        <rect  x="0" y="0" width="660" height="118" fill="transparent"></rect>
      </g> -->
    </svg>
  </div>
</div>
<div lkc-banner>
  <div class="banner banner-container dark banner--lkc-agh" lkc-banner-content>
    <h1 class="title font-bold logo-embed">
      <span class="font-bold font-squeeze">Why</span>
      <img class="logo" src="assets/images/AGH-Logo-Font-white.svg" height="64" width="300" alt="ArgusHack">
      <span class="font-bold font-squeeze">?</span>
    </h1>
    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum ipsam nostrum cupiditate
      inventore eligendi reprehenderit iure nisi repudiandae nihil ipsum ullam fuga, voluptatem tenetur esse.</p>
    <div class="banner banner--wrap-box--container">
      <div class="banner--wrap-box">
        <h1 class="numbers">
          <span class="super-big font-squeeze">100</span><span class="unit font-squeeze">%</span>
        </h1>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="banner--wrap-box">
        <h1 class="numbers">
          <span class="super-big font-squeeze">32</span><span class="unit font-squeeze">k</span>
        </h1>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="banner--wrap-box">
        <h1 class="numbers">
          <span class="super-big font-squeeze">50</span><span class="unit font-squeeze">+</span>
        </h1>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="banner--wrap-box">
        <h1 class="numbers">
          <span class="super-big font-squeeze">80</span><span class="unit font-squeeze">%</span>
        </h1>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
<div lkc-spotlight [type]="'left_thin'" [theme]="'light'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/pipeline.svg" height="391" width="640" alt="">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black font-squeeze">Pipeline</h1>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi natus provident debitis molestias cumque! Neque,
      consequatur. Pariatur hic, provident placeat minus nulla velit reprehenderit maiores deleniti optio repellat,
      quidem praesentium.
    </p>
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus aliquam accusantium, ducimus similique
      perferendis porro facilis quo expedita pariatur quasi tenetur quam iure unde, earum saepe dolorem debitis
      exercitationem omnis.
    </p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'right_thin'" [theme]="'light'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/attack.svg" height="452" width="640" alt="">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black font-squeeze">ATT&CK</h1>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae a recusandae unde placeat odit
      doloremque ab magnam praesentium! Fuga amet repudiandae possimus eos iure deleniti nam officia dignissimos, a
      assumenda?</p>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eaque autem dolor explicabo modi,
      magnam hic molestias optio consequatur obcaecati consectetur itaque culpa labore quos adipisci quibusdam, nam
      iusto reprehenderit!</p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'left_thin'" [theme]="'light'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/deploy.svg" height="150" width="150" alt="">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black font-squeeze">Deploy</h1>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis quaerat commodi cum quibusdam
      aliquid, quae soluta facere voluptates iste placeat molestias, porro sed nemo et fugiat laborum animi minus est?
    </p>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quisquam voluptatum officia
      architecto, placeat eum atque dolore ab dolorum sint ipsum assumenda dolorem odit impedit provident doloremque et
      fugiat voluptates?</p>
  </ng-container>
</div>
<div lkc-banner>
  <div class="banner banner-container gray banner--lkc-agh" lkc-banner-content>
    <h1 class="title font-black font-squeeze">Partners</h1>
    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum ipsam nostrum cupiditate
      inventore eligendi reprehenderit iure nisi repudiandae nihil ipsum ullam fuga, voluptatem tenetur esse.</p>
    <div class="banner banner--wrap-box--container">
      <div class="banner--wrap-box">
        <img alt="">
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="banner--wrap-box">
        <img alt="">
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="banner--wrap-box">
        <img alt="">
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="banner--wrap-box">
        <img alt="">
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
