<div lkc-banner>
  <!-- <div lkc-main-banner lkc-banner-content></div> -->
</div>
<div lkc-banner>
  <!-- <div lkc-main-banner lkc-banner-content></div> -->
</div>
<div lkc-spotlight [type]="'left_thin'" [theme]="'light'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/pipeline.svg" height="391" width="640" alt="">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">Pipeline</h1>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi natus provident debitis molestias cumque! Neque, consequatur. Pariatur hic, provident placeat minus nulla velit reprehenderit maiores deleniti optio repellat, quidem praesentium.
    </p>
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus aliquam accusantium, ducimus similique perferendis porro facilis quo expedita pariatur quasi tenetur quam iure unde, earum saepe dolorem debitis exercitationem omnis.
    </p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'right_thin'" [theme]="'light'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/attack.svg" height="452" width="640" alt="">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">ATT&CK</h1>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae a recusandae unde placeat odit doloremque ab magnam praesentium! Fuga amet repudiandae possimus eos iure deleniti nam officia dignissimos, a assumenda?</p>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eaque autem dolor explicabo modi, magnam hic molestias optio consequatur obcaecati consectetur itaque culpa labore quos adipisci quibusdam, nam iusto reprehenderit!</p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'left_thin'" [theme]="'light'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/deploy.svg" height="150" width="150" alt="">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">Deploy</h1>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis quaerat commodi cum quibusdam aliquid, quae soluta facere voluptates iste placeat molestias, porro sed nemo et fugiat laborum animi minus est?</p>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quisquam voluptatum officia architecto, placeat eum atque dolore ab dolorum sint ipsum assumenda dolorem odit impedit provident doloremque et fugiat voluptates?</p>
  </ng-container>
</div>
<div lkc-banner>
  <!-- <div lkc-main-banner lkc-banner-content></div> -->
</div>
