<div lkc-dual-column class="banner main-banner" [columns]="'1fr 480px'">
  <div lkc-col-content col-1>
    <div class="logo logo-font logo-font--white logo-font--horizon">
      <img class="logo logo-image" src="assets/images/font-full-white.svg" alt="Leukocyte-Lab Co., Ltd.">
    </div>
    <header class="banner banner-header">
      <h1 class="title font--seo-only">Leukocyte-Lab Co., Ltd.</h1>
      <h1 class="title font-bold">盧氪賽忒股份有限公司</h1>
      <p class="paragraph">
        Look After Your Site，是我們對客戶的承諾
        <span class="font--seo-only">，</span>
        <br>
        提升免疫力是預防疾病侵襲的最佳方式，資安防護也是如此
        <span class="font--seo-only">；</span><br>
        唯有提升整體資安免疫力才能阻絕駭客侵入與降低損失
        <span class="font--seo-only">。</span>
      </p>
    </header>
  </div>
  <div lkc-col-content col-2>
    <div class="logo logo-graph logo-graph--main-complex">
      <img class="logo logo-image" src="assets/images/main-logo-taton-white-alpha.svg" alt="">
    </div>
  </div>
</div>
