<div class="banner banner-bg banner-bg--overlap banner-bg--home">
  <img src="assets/images/bg-grid-attack-traffic.svg" height="220" width="150" alt="">
</div>
<div lkc-dual-column class="banner main-banner" [columns]="'1fr 480px'">
  <div lkc-col-content col-1>
    <div class="logo logo-font logo-font--white logo-font--horizon">
      <img class="logo logo-image" src="assets/images/font-full-white-xl.svg" height="300" width="60" alt="Leukocyte-Lab Co., Ltd.">
      <img class="logo logo-image logo-shadowed mask--light" height="300" width="60" src="assets/images/font-full-white-xl.svg" alt="">
      <img class="logo logo-image logo-shadowed mask--dark" height="300" width="60" src="assets/images/font-full-white-xl.svg" alt="">
    </div>
    <header class="banner banner-header">
      <h1 class="title font--seo-only">Leukocyte-Lab Co., Ltd.</h1>
      <h1 class="title font--seo-only">LKC</h1>
      <h1 class="title font--seo-only">盧氪賽忒股份有限公司</h1>
      <h1 class="title">盧氪賽<ruby>忒<rp>(</rp><rt>ㄊㄜˋ</rt><rp>)</rp></ruby></h1>
      <h2 class="subtitle font-blod font-mono">Look After Your Site</h2>
      <p class="paragraph">
        我們提供先進的<br>
        漏洞挖掘、滲透測試、紅隊演練、教育訓練、顧問服務
        <span class="font--seo-only">，</span><br>
        以及 BAS 藍隊驗證系統產品
        <span class="font--seo-only">，</span><br>
        協助企業提升資安免疫力
        <span class="font--seo-only">。</span>
      </p>
    </header>
  </div>
  <div lkc-col-content col-2>
    <div class="logo logo-graph logo-graph--main-complex">
      <img class="logo logo-image" src="assets/images/main-logo-taton-white-alpha.png" height="1024" width="989" alt="LKC-Lab Logo">
    </div>
  </div>
</div>
