<div lkc-banner>
  <div lkc-main-banner lkc-banner-content></div>
</div>
<div lkc-spotlight [type]="'right'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/c2.svg" height="150" width="150" alt="">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">
      我們知道這並不容易
      <span class="font--seo-only">，</span><br>
      所以就交給我們吧
    </h1>
    <h2 class="subtitle font-bold">成為企業最可靠的安全夥伴</h2>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">
      提升免疫力是預防疾病侵襲的最佳方式，資安防護也是如此；<br>
      唯有提升整體資安免疫力才能阻絕駭客侵駭與降低損失。
    </p>
    <p class="paragraph">
      我們致力於成為企業最可靠的安全夥伴，透過對洞悉各項風險的 H1dra Security Team，<br>
      與先進智慧的 BAS 次世代入侵與攻擊模擬平台 - ArgusHack 找出企業的風險所在。
    </p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'left'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/c1.png" height="1024" width="1024" alt="">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">你覺得已經萬無一失？</h1>
    <h2 class="subtitle font-bold">天羅地網心慌慌，不如直接上來打一場</h2>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">許多企業雖然投入了大額預算於資安建設上，卻只依賴演練週期較長的第三方演練來驗證其有效性，<br>
      甚至因為沒足夠預算執行第三方演練。</p>
    <p class="paragraph">
      在我們經手的許多案例中，某單位部署了大量資安產品，卻因網路設備問題，造成資安設備無法發揮效用。此案例中是以 ArgusHack 的演練劇本編撰與自動化攻擊重放功能，重複以 APT 33 攻擊模擬進行測試。而正因 ArgusHack 有劇本化的固定測試、完整且詳細的滲透測試紀錄、真實的惡意攻擊流量且低廉的複測成本，才能於多次複測中找出其風險所在。
    </p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'right'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/H1DRA-Security.svg" height="150" width="150" alt="H1DRA Security">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">H1DRA Security</h1>
    <h2 class="subtitle font-bold">洞悉風險的絕地武士</h2>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">由 Leukocyte-Lab 成員中，一群擁有資安熱情、洞悉資安風險、且資安技術精湛的夥伴們所組成，團隊堅實的技術實力使其屢次於國內知名漏洞挖掘與攻防演練比賽奪得冠軍。
    </p>
    <p class="paragraph">
      其專業的資安服務不只獲得國內廠商信任，更曾獲日商客戶的認可。在資安人才的培養上也不遺餘力，除協助警調、國安與軍方單位培訓資安人才外，更透過實習計畫與大學合作，時常至校園間培養未來的白帽駭客。
    </p>
    <p class="paragraph">
      我們期許能以最專業的資安服務成為企業最可靠的資安夥伴，並飲水思源地持續為台灣資安環境培養更多資安人才。
    </p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'left'" [theme]="'light'">
  <ng-container lkc-spotlight-image>
    <img src="assets/images/ArgusHack2.svg" height="150" width="150" alt="">
  </ng-container>
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">ArgusHack</h1>
    <h2 class="subtitle font-bold">智慧思維的網路星艦</h2>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">
      在資安威脅變得更頻繁且攻擊手法變化更快的趨勢下，傳統以弱點掃描檢核漏洞並搭配滲透測試找出架構與邏輯弱點的攻擊演練已經不足以應付如此的變化。
    </p>
    <p class="paragraph">
      近年來興起的紅隊演練服務雖然協助企業單位更了解如何應對新型攻擊與知悉安全風險所在，但其執行頻率一年僅 1~2 次，此演練週期遠長於資安威脅的變化週期。
    </p>
    <p class="paragraph">
      在考量如何縮短攻擊演練週期、如何持續進行風險測試與逐漸興起的紫隊演練需求，大量依頼專業人力的攻擊演練勢必需要轉型；如何應用以雲端微服務、智慧化與流程自動化技術建立的次世代的滲透與攻擊模擬平台將是安全團隊該認眞思索的問題。
    </p>
  </ng-container>
</div>
