<div lkc-banner>
  <div lkc-main-banner lkc-banner-content></div>
</div>
<div lkc-spotlight [type]="'left'">
  <h1 class="title" lkc-spotlight-title>About</h1>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">在資安威脅變得更頻繁且攻擊手法變化更快的趨勢下，傳統以弱點掃描檢核漏洞並搭配滲透測試找出架構與邏輯弱點的攻擊演練已經不足以應付如此的變化。</p>
    <p class="paragraph">
      Leukocyte-Lab 致力於成為企業最可靠的安全夥伴，協助其提升資安免疫力，
      透過對洞悉各項風險的 H1dra Security Team 與先進智慧的次世代入侵與攻擊模擬平台 - ArgusHack 找出企業的風險所在。
      結合他們公司專業的顧問服務、教育訓練與業界夥伴的安全解決方案來提升企業的資安免疫力。
    </p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'right'">
  <h1 class="title" lkc-spotlight-title>Product</h1>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">在資安威脅變得更頻繁且攻擊手法變化更快的趨勢下，傳統以弱點掃描檢核漏洞並搭配滲透測試找出架構與邏輯弱點的攻擊演練已經不足以應付如此的變化。</p>
    <p class="paragraph">
      Leukocyte-Lab 致力於成為企業最可靠的安全夥伴，協助其提升資安免疫力，
      透過對洞悉各項風險的 H1dra Security Team 與先進智慧的次世代入侵與攻擊模擬平台 - ArgusHack 找出企業的風險所在。
      結合他們公司專業的顧問服務、教育訓練與業界夥伴的安全解決方案來提升企業的資安免疫力。
    </p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'left'">
  <h1 class="title" lkc-spotlight-title>Team & Services</h1>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">在資安威脅變得更頻繁且攻擊手法變化更快的趨勢下，傳統以弱點掃描檢核漏洞並搭配滲透測試找出架構與邏輯弱點的攻擊演練已經不足以應付如此的變化。</p>
    <p class="paragraph">
      Leukocyte-Lab 致力於成為企業最可靠的安全夥伴，協助其提升資安免疫力，
      透過對洞悉各項風險的 H1dra Security Team 與先進智慧的次世代入侵與攻擊模擬平台 - ArgusHack 找出企業的風險所在。
      結合他們公司專業的顧問服務、教育訓練與業界夥伴的安全解決方案來提升企業的資安免疫力。
    </p>
  </ng-container>
</div>
