<div lkc-banner>
  <div lkc-main-banner lkc-banner-content></div>
</div>
<div lkc-spotlight [type]="'left'">
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">Title</h1>
    <h2 class="subtitle font-bold">Subtitle</h2>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ea libero. Dolore repellat, non, ipsa nobis sunt quod est ex impedit quasi quo unde adipisci! Molestias quia aperiam harum voluptate.</p>
    <p class="paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui consequatur tempore velit quaerat delectus natus doloribus? Doloremque optio fugit deserunt earum dolorum iste animi perferendis, consequuntur temporibus hic quaerat rerum.
    </p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'right'">
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">Title</h1>
    <h2 class="subtitle font-bold">Subtitle</h2>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ea libero. Dolore repellat, non, ipsa nobis sunt quod est ex impedit quasi quo unde adipisci! Molestias quia aperiam harum voluptate.</p>
    <p class="paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui consequatur tempore velit quaerat delectus natus doloribus? Doloremque optio fugit deserunt earum dolorum iste animi perferendis, consequuntur temporibus hic quaerat rerum.
    </p>
  </ng-container>
</div>
<div lkc-spotlight [type]="'left'">
  <ng-container lkc-spotlight-title>
    <h1 class="title font-black">Title</h1>
    <h2 class="subtitle font-bold">Subtitle</h2>
  </ng-container>
  <ng-container lkc-spotlight-content>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ea libero. Dolore repellat, non, ipsa nobis sunt quod est ex impedit quasi quo unde adipisci! Molestias quia aperiam harum voluptate.</p>
    <p class="paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui consequatur tempore velit quaerat delectus natus doloribus? Doloremque optio fugit deserunt earum dolorum iste animi perferendis, consequuntur temporibus hic quaerat rerum.
    </p>
  </ng-container>
</div>
