<div
  class="column column-container column--qual"
  [style.grid-template-columns]="columns"
>
  <div class="column col-1">
    <ng-content select="[lkc-col-content][col-1]"></ng-content>
  </div>
  <div class="column col-2">
    <ng-content select="[lkc-col-content][col-2]"></ng-content>
  </div>
  <div class="column col-3">
    <ng-content select="[lkc-col-content][col-3]"></ng-content>
  </div>
  <div class="column col-4">
    <ng-content select="[lkc-col-content][col-4]"></ng-content>
  </div>
</div>
