.banner {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;

    &--home {
      opacity: 0.5;
      transform-origin: center center;
      transform: translate(-280px, 150px) scale(1.1, 1.3) skew(15deg);

      > img {
        height: 100%;
      }
    }

    &--overlap {
      z-index: 1;
    }
  }
}

// #region @main-banner
.main-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: $white;
  background: linear-gradient(to right, $dark, $black);

  @media screen and (max-width: 475px) {
    height: auto;
  }

  > .column {
    &-container {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column-reverse;
      z-index: 2;

      @media screen and (min-width: 1024px) {
        display: grid;
        width: calc(100% - #{$main-column-gap} * 2);
        height: 480px;

        @media screen and (max-width: 1680px) {
          width: calc(100% - #{$main-column-gap-1680} * 2);
        }

        @media screen and (max-width: 1440px) {
          width: calc(100% - #{$main-column-gap-1440} * 2);
        }

        @media screen and (max-width: 1280px) {
          width: calc(100% - #{$main-column-gap-1280} * 2);
        }
      }
    }

    .col-1,
    .col-2 {
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .col-1 {
      box-sizing: border-box;
      padding: 32px 64px;

      @media screen and (max-width: 475px) {
        padding: 24px 48px;
      }

      @media screen and (max-width: 414px) {
        padding: 24px 18px;
      }

      @media screen and (max-width: 360px) {
        padding: 16px;
      }

      @media screen and (min-width: 1024px) {
        padding: 0;
        padding-right: 72px;
      }
    }

    .col-2 {
      & > div {
        align-items: center;
      }

      .logo-graph {
        height: 480px;
        width: 480px;
        pointer-events: none;

        @media screen and (max-width: 600px) {
          height: auto;
          width: 400px;
        }

        @media screen and (max-width: 475px) {
          width: 320px;
        }

        @media screen and (max-width: 414px) {
          width: 280px;
        }

        @media screen and (max-width: 360px) {
          width: 240px;
        }

        @media screen and (min-width: 1024px) {
          height: 640px;
          width: 640px;
        }

        &--main-complex {
          .logo-image {
            transform: none;
            margin-top: 32px;

            @media screen and (max-width: 475px) {
              margin: 64px 0 32px 0;
            }

            @media screen and (max-width: 414px) {
              margin: 32px 0;
            }

            @media screen and (min-width: 1024px) {
              opacity: 1;
              margin-top: -18px;

              @media screen and (max-width: 1440px) {
                transform: scale(0.8);
              }

              @media screen and (max-width: 1280px) {
                transform: scale(0.75);
              }
            }
          }
        }
      }
    }
  }

  .logo-graph,
  .logo-font {
    ::selection {
      appearance: none;
      background-color: transparent;
    }

    > .logo-shadowed {
      opacity: 0.25;

      &.mask {
        &--light {
          margin: -4px 0 0 -4px;
          filter: blur(5px);
        }

        &--dark {
          margin: 4px 0 0 4px;
          filter: blur(5px) invert(1);
        }
      }
    }
  }

  .banner {
    &-header {
      position: relative;
      margin: 12px 0;
      margin-top: -12px;

      > h1.title {
        transform-origin: left center;
        letter-spacing: 4px;
        font-size: 64px;
        text-shadow: 3px 3px 6px darken($gray-1, 15%),
          -3px -3px 6px lighten($gray-1, 15%);

        @media screen and (min-width: 1024px) {
          transform: scaleX(0.95);
        }

        @media screen and (max-width: 768px) {
          text-align: center;
        }

        @media screen and (max-width: 475px) {
          font-size: 56px;
        }

        @media screen and (max-width: 414px) {
          font-size: 48px;
        }

        ruby {
          ruby-align: center;
          -webkit-ruby-align: center;
          ruby-position: over;
          -webkit-ruby-position: over;

          rt {
            transform: scale(0.75);
            opacity: 0;
            font-size: 14px;
          }

          rtc {
            color: darken($red, 15%);
            transition: scale(1, 1.2);
            font-size: 16px;
          }
        }

        &:hover {
          ruby {
            rt {
              opacity: 0.7;
            }
          }
        }
      }

      > h2.subtitle {
        font-size: 16px;
        color: lighten($red, 7%);
        text-shadow: 1px 1px 2px darken($gray-1, 7%),
          -1px -1px 2px lighten($gray-1, 7%);
        word-spacing: 14px;
        margin: 8px;

        @media screen and (max-width: 768px) {
          text-align: center;
          word-spacing: auto;
        }

        @media screen and (max-width: 414px) {
          font-size: 15.6px;
        }

        @supports (-moz-appearance: none) {
          margin: 0 8px;
        }
      }

      > p.paragraph {
        margin: 12px 0;
        margin-top: 36px;
        font-size: 16px;
        line-height: 2;

        @media screen and (max-width: 768px) {
          text-align: center;
        }

        @media screen and (max-width: 414px) {
          font-size: 12px;
        }

        @media screen and (max-width: 375px) {
          margin-top: 32px;
        }

        @media screen and (max-width: 360px) {
          margin-top: 24px;
        }
      }
    }
  }
}
// #endregion
