.banner {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

// #region @main-banner
.main-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: $white;

  > .column {
    &-container {
      width: calc(100% - #{$main-column-gap} * 2);
      height: 480px;
    }

    .col-1,
    .col-2 {
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .col-1 {
      box-sizing: border-box;
      padding-right: 72px;
    }

    .col-2 {
      & > div {
        align-items: center;
      }

      .logo-graph {
        height: 640px;
        width: 640px;
      }
    }
  }

  .banner {
    &-header {
      margin: 12px 0;

      > h1.title {
        font-size: 32px;
      }

      > p.paragraph {
        margin: 12px 0;
        font-size: 16px;
        line-height: 1.6;
      }
    }
  }
}
// #endregion
