$purple: #9E3CDD;
$dark-red: #EF2440;
$light-red: #FE004D;
$red: #E30840;
$orange: #FC6C32;
$yellow: #FCA302;
$green: #07B558;
$light-green: #00D092;
$blue: #006ADA;
$dark-blue: #294870;
$dark: #202124;
$black: #000000;
$gray-1: #292a2d;
$gray-2: #35363a;
$gray-3: #5d6063;
$gray-4: #86888A;
$gray-5: #A6A8AA;
$white: #FFFFFF;
