.column {
  &-container {
    display: grid;
    height: inherit;
    width: 100%;
    position: relative;
    grid-template-rows: 100%;
  }

  &--single {
    grid-template-columns: 1fr;
  }

  &--dual {
    grid-template-columns: 1fr 1fr;
  }

  &--triple {
    grid-template-columns: 1fr 1fr 1fr;
  }

  height: inherit;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .decorator {
    position: relative;
    text-indent: 24px;
    color: darken($white, 25%) !important;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: -4px;
      top: 0;
      background-color: darken($white, 25%);
      height: 100%;
      width: 8px;
      transform: skewX(-15deg);
      box-sizing: border-box;
      box-shadow: 0 0 2px $gray-2;
    }

    &:after {
      left: 8px;
      width: 3px;
      background-color: $gray-4;
    }
  }

  > *,
  > * > svg {
    height: 100%;
    width: 100%;
    position: relative;
  }
}
