@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Fira Code', sans-serif;
  font-weight: 400;
}

.font {
  &-thin {
    font-weight: 300;
  }

  &-bold {
    font-weight: 500;
  }

  &-black {
    font-weight: 700;
  }

  &-featured {
    font-family: 'Kanit', sans-serif;
  }

  &-uppercase {
    text-transform: uppercase;

    &.only-first {
      text-transform: none;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

p {
  &.paragraph,
  &.description {
    line-height: 1.6;
  }
}
