[lkc-spotlight] {
  &:nth-of-type(odd) {
    > .spotlight-container--theme-auto {
      background-color: $gray-6;
    }
  }

  &:nth-of-type(even) {
    > .spotlight-container--theme-auto {
      background-color: $white;
    }
  }
}

.spotlight {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    box-sizing: border-box;
    padding: 32px 0;
    grid-template-rows: 64px 0.5 0.5fr 64px;
    box-sizing: border-box;
    background-color: $white;

    @media screen and (min-width: 800px) {
      display: grid;
    }

    @media screen and (max-width: 1200px) {
      padding: 32px;
    }

    @media screen and (max-width: 475px) {
      padding: 24px;
    }

    @media screen and (max-width: 414px) {
      padding: 16px;
    }

    &--left {
      grid-template-columns: $main-column-gap $main-column-gap auto $main-column-gap;
      grid-template-areas:
        'image image PLACEHOLDER-1 PLACEHOLDER-R'
        'image image title         PLACEHOLDER-R'
        'image image content       PLACEHOLDER-R'
        'image image PLACEHOLDER-2 PLACEHOLDER-R';

      &_thin {
        grid-template-columns: $main-column-gap 3fr 4fr $main-column-gap;
        grid-template-areas:
        'PLACEHOLDER-L PLACEHOLDER-1 PLACEHOLDER-1 PLACEHOLDER-R'
        'PLACEHOLDER-L image title         PLACEHOLDER-R'
        'PLACEHOLDER-L image content       PLACEHOLDER-R'
        'PLACEHOLDER-L PLACEHOLDER-2 PLACEHOLDER-2 PLACEHOLDER-R';
      }

      &,
      &_thin {
        @media screen and (max-width: 800px) {
          grid-template-areas:
            'PLACEHOLDER-L PLACEHOLDER-1 PLACEHOLDER-1 PLACEHOLDER-R'
            'PLACEHOLDER-L title         title title'
            'PLACEHOLDER-L content       image image'
            'PLACEHOLDER-L PLACEHOLDER-2 image image';
        }

        .spotlight {
          &-image {
            justify-content: flex-end;
          }
        }

        @media screen and (max-width: 1680px) {
          grid-template-columns: $main-column-gap-1680 1fr 2fr $main-column-gap-1680;
        }

        @media screen and (max-width: 1440px) {
          grid-template-columns: $main-column-gap-1440 1fr 2fr $main-column-gap-1440;
        }

        @media screen and (max-width: 1280px) {
          grid-template-columns: $main-column-gap-1280 1fr 2fr $main-column-gap-1280;
        }

        @media screen and (max-width: 1200px) {
          grid-template-columns: $main-column-gap-1200 1.5fr 2fr $main-column-gap-1200;
        }
      }
    }

    &--right {
      grid-template-columns: $main-column-gap auto $main-column-gap $main-column-gap;
      grid-template-areas:
        'PLACEHOLDER-L PLACEHOLDER-1 image image'
        'PLACEHOLDER-L title         image image'
        'PLACEHOLDER-L content       image image'
        'PLACEHOLDER-L PLACEHOLDER-2 image image';

      &_thin {
        grid-template-columns: $main-column-gap 4fr 3fr $main-column-gap;
        grid-template-areas:
          'PLACEHOLDER-L PLACEHOLDER-1 PLACEHOLDER-1 PLACEHOLDER-R'
          'PLACEHOLDER-L title         title PLACEHOLDER-R'
          'PLACEHOLDER-L content       image PLACEHOLDER-R'
          'PLACEHOLDER-L PLACEHOLDER-2 PLACEHOLDER-2 PLACEHOLDER-R';
      }

      &,
      &_thin {
        @media screen and (max-width: 800px) {
          grid-template-areas:
            'PLACEHOLDER-L PLACEHOLDER-1 PLACEHOLDER-1 PLACEHOLDER-R'
            'PLACEHOLDER-L title         title title'
            'PLACEHOLDER-L content       image image'
            'PLACEHOLDER-L PLACEHOLDER-2 image image';
        }

        .spotlight {
          &-image {
            justify-content: flex-start;
          }
        }

        @media screen and (max-width: 1680px) {
          grid-template-columns: $main-column-gap-1680 2fr 1fr $main-column-gap-1680;
        }

        @media screen and (max-width: 1440px) {
          grid-template-columns: $main-column-gap-1440 2fr 1fr $main-column-gap-1440;
        }

        @media screen and (max-width: 1280px) {
          grid-template-columns: $main-column-gap-1280 2fr 1fr $main-column-gap-1280;
        }

        @media screen and (max-width: 1200px) {
          grid-template-columns: $main-column-gap-1200 2fr 1.5fr $main-column-gap-1200;
        }
      }
    }

    &--theme {
      &-light {
        background-color: $white;
      }
    }
  }

  &-image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  &-title {
    grid-area: title;

    > h1.title {
      font-size: 42px;
      margin-bottom: 8px;
      line-height: 1.2;

      @media screen and (max-width: 475px) {
        font-size: 36px;
      }

      @media screen and (max-width: 414px) {
        font-size: 34px;
      }

      @media screen and (max-width: 375px) {
        font-size: 32px;
      }

      @media screen and (max-width: 360px) {
        font-size: 28px;
      }
    }

    > h2.subtitle {
      font-size: 24px;
      line-height: 1.4;

      @media screen and (max-width: 414px) {
        font-size: 20px;
      }

      @media screen and (max-width: 375px) {
        font-size: 18px;
      }

      @media screen and (max-width: 360px) {
        font-size: 16px;
      }
    }
  }

  &-content {
    grid-area: content;

    > p.paragraph {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 1rem;
      text-align: justify;
      text-justify: inter-ideograph;

      @media screen and (max-width: 768px) {
        br {
          display: none;
        }
      }

      @media screen and (max-width: 600px) {
        text-align: left;
      }

      @media screen and (max-width: 475px) {
        font-size: 14px;
      }

      @media screen and (max-width: 360px) {
        font-size: 12px;
      }
    }
  }
}
