<footer class="footer footer-container">
  <div class="footer footer-bg">
    <img class="logo logo-image" src="assets/images/font-short-white.svg" height="300" width="121" alt="LKC">
  </div>
  <div class="footer footer-wrapper declare">
    <div class="footer footer-content">
      <img class="logo logo-font" src="assets/images/font-full-white-xl.svg" height="300" width="60" alt="Leukocyte-Lab Co., Ltd.">
      <h2 class="subtitle font-bold">盧氪賽忒股份有限公司</h2>
      <p class="paragraph highlight font-mono">Look After Your Site</p>
      <p class="paragraph font-mono">&copy; 2021 Leukocyte-Lab Co., Ltd.</p>
    </div>
  </div>
  <div class="footer footer-wrapper contact">
    <div class="footer footer-content">
      <h3 class="font-bold font-mono">Contacts</h3>
      <h3 class="font-bold font--seo-only">聯絡資訊</h3>
      <div class="linker-box">
        <a href="https://linkedin.com/company/lkc-lab" title="LinkedIn" aria-label="LinkedIn" target="_blank"
          rel="noopener noreferrer" class="linker">
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
        <a href="https://twitter.com/CoLeukocyte" title="Twitter" aria-label="Twitter" target="_blank"
          rel="noopener noreferrer" class="linker">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
        <a href="https://fb.com/LeukocyteLab" title="Facebook" aria-label="Facebook" target="_blank"
          rel="noopener noreferrer" class="linker">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
        <a href="https://medium.com/h1dra-security-team" title="Medium" aria-label="Medium" target="_blank"
          rel="noopener noreferrer" class="linker">
          <fa-icon [icon]="['fab', 'medium']"></fa-icon>
        </a>
        <a href="https://github.com/Leukocyte-Lab" title="GitHub" aria-label="GitHub" target="_blank"
          rel="noopener noreferrer" class="linker">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
      </div>
      <p class="paragraph link">
        <span class="font--seo-only">Email: 電子郵件:</span>
        <span><a href="mailto:sales@lkc-lab.com">
            <fa-icon class="icon" [icon]="['fas', 'envelope']"></fa-icon>
            <span class="font-mono">sales@lkc-lab.com</span>
          </a></span>
      </p>
      <p class="paragraph link">
        <span class="font--seo-only">Tel: 電話:</span>
        <span><a href="tel:+886-2-2388-4321">
            <fa-icon class="icon" [icon]="['fas', 'phone-alt']"></fa-icon>
            <span class="font-mono">+886 2-2388-4321</span>
          </a></span>
      </p>
      <p class="paragraph link">
        <span>
          <a href="https://g.page/LKC-Lab" title="Address 地址" aria-label="Address 地址" target="_blank"
            rel="noopener noreferrer" class="addr">
            <fa-icon class="icon" [icon]="['fas', 'map-marker-alt']"></fa-icon>
            <span class="font-mono">104069 臺北市中山區</span><br>
            <span class="font-mono">建國北路三段 92 號 D416 室</span>
          </a>
        </span>
      </p>
      <address class="font--seo-only">
        You can contact author at <a href="https://leukocyte-lab.com">leukocyte-lab.com</a>,
        or call <a href="tel:+886-2-2388-4321">+886 2-2388-4321</a>.
        If you wnat to get more into, send email to <a href="mailto:sales@lkc-lab.com">sales@lkc-lab.com</a>.
        You may also want to visit us:
        Leukocyte-Lab Co., Ltd.
        Room D416, No. 92, Sec. 3, Jianguo N. Rd., Jhongshan Dist., Taipei City 10482, Taiwan (R.O.C.)
      </address>
    </div>
  </div>
</footer>
